@font-face {
    font-family: nb;
    src: url(./static/fonts/NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejoy;
    src: url(./static/fonts/Rejouice-Headline.ttf);
}
@font-face {
    font-family: cursive;
    src: url(./static/fonts/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

html,body{
  background-color: #F6F6F6;
    height: 100%;
    width: 100%;
}

  /* navbar */
  .logo img{
    height: 60px;
    width: 60px;
  }
  
  .header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: #FFFFFF;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 70px;
  }
  
  
  
  .nav h4 {
    padding-bottom: 2px;
    margin-right: 50px;
    color: black;
    font-weight: 550;
    position: relative;
    cursor: pointer;
  }
  
  .nav h4::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    height: 2px;
    width: 0%;
    background: black;
    transition: all ease 0.4s;
  }
  
  .nav h4:hover::before {
    color: white !important;
    width: 100%;
  }
  
  
  /* Media Queries for responsiveness */
  @media screen and (max-width: 768px) {
    .container {
      width: 90%; 
    }
    .nav{
      gap: 10px;
      padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    }
  
    .nav h4 {
      margin-right: 20px; 
    }
  }
  
  @media screen and (max-width: 576px) {
    .container {
      flex-direction: column; 
      height: auto; 
      padding: 10px 0; 
    }
  
    .nav h4 {
      margin-right: 0; 
      margin-bottom: 10px; 
    }
  
    .logo h4 {
      margin-left: 0; 
    }
  }
  

  #set-nav{
    border-radius: 2px;
  }
  .navbar .navbar-nav .nav-link {
    color: black;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
}
    
    /* navbar */

/* Hero Section */

.textpackages{
  margin: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.textpackages h1{
  color: #3B79C9;
}

.textpackages p{
  font-weight: 400;
  color: #223544;

}
    #loader{
      font-family: rejoy;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: black;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        gap: 10px; 
    }

    #loader h3{
        font-size: 5vw;
        font-weight: 2vw;
    }

    #page1{
        height: 100vh ;
        width: 100%;
        background-color: #dadada;
        position: relative;
    }

    #page1 video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }

    #page1-content{
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 2;
        color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    #letters{
        height: 100px;
        width: 100%;
        /* display: flex; */
        align-items: center;
        justify-content: space-between;
        /* padding: 2vw 3vw; */
    }

    #letters h3{
        font-size: 1.4vw;
        font-weight: 100;
    }

    #letters h4{
        font-size: 1.4vw;
        font-weight: 100;
    }

    
    #page1-content h1{
        font-family: rejoy;
        font-size: 27vw;
        font-weight: 100;
        line-height: 27vw;
    }

    #page1-content span{
       font-family: rejoy; 
       display: inline-block;
    }
/* Loader */


/* Search */

.custom-button {
  margin-top: 18px;
  margin-left: 20px;
  width: 166px;
  height: 54px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(126, 116, 116);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s
}

.custom-button:hover {
  background-color: #adb3b9; 
}

    .tour-search {
    background-image: url(./static/img/g2.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.tour-search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-wrapper {
    margin: 10px;
    text-align: center;
}

.input-label {
    display: block;
    font-weight: 200;
    margin-bottom: 5px;
    color: white; 
}

.input-field {
    width: 100%;
    padding: 15px; 
    border: 1px solid gray;
    border-radius: 14px; 
    box-sizing: border-box;
    font-size: 16px; 
}

.input-field:focus {
    outline: none;
    border-color: #007bff; 
}

@media screen and (max-width: 768px) {
    .input-wrapper {
        width: 100%; 
    }

    .input-field {
        width: calc(100% - 20px); 
    }
}
/* Search */


/* Page 2 */
    #page2 {
        width: 100%;
        height: 100vh;
        background-color: antiquewhite;
    }

    /* Page 2 */

    /* Cards  */

    .offers{
        margin-bottom: 50px;
        margin-top: 70px;
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .offers h4{
      font-family: "Kaushan Script";
    }
    .offers h1{
        font-weight: 500;

    }
    .line{
        align-items: center;
        height: 10px;
        background-color: black;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }

    :root{
        --background-dark: #2d3548;
        --text-light: rgba(255,255,255,0.6);
        --text-lighter: rgba(255,255,255,0.9);
        --spacing-s: 8px;
        --spacing-m: 16px;
        --spacing-l: 20px;
        --spacing-xl: 32px;
        --spacing-xxl: 0px;
        --width-container: 1200px;
      }
      
      
      .hero-section{
        align-items: flex-start;
        display: flex;
        min-height: 80%;
        justify-content: center;
        padding: var(--spacing-xxl) var(--spacing-l);
      }
      
      .card-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: var(--spacing-l);
        grid-row-gap: var(--spacing-l);
        max-width: var(--width-container);
        width: 100%;
      }
      
      @media(min-width: 540px){
        .card-grid{
          grid-template-columns: repeat(2, 1fr); 
        }
      }
      
      @media(min-width: 960px){
        .card-grid{
          grid-template-columns: repeat(4, 1fr); 
        }
      }
      
      .card{
        list-style: none;
        position: relative;
      }
      
      .card:before{
        content: '';
        display: block;
        padding-bottom: 150%;
        width: 100%;
      }
      
      .card__background{
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        bottom: 0;
        filter: brightness(0.75) saturate(1.2) contrast(0.85);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: center;
        transform: scale(1) translateZ(0);
        transition: 
          filter 200ms linear,
          transform 200ms linear;
      }
      
      .card:hover .card__background{
        transform: scale(1.05) translateZ(0);
      }
      
      .card-grid:hover > .card:not(:hover) .card__background{
        filter: brightness(0.5) saturate(0) contrast(1.2) blur(0.1px);
      }
      
      .card__content{
        left: 0;
        padding: var(--spacing-l);
        position: absolute;
        top: 0;
      }
      
      .card__category{
        color: var(--text-light);
        font-size: 0.9rem;
        margin-bottom: var(--spacing-s);
        text-transform: uppercase;
      }
      
      .card__heading{
        color: var(--text-lighter);
        font-size: 1.9rem;
        text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
        line-height: 1.4;
        word-spacing: 100vw;
      }
    

      /* Why choose section  */

      .choose-container{
        margin-top: 100px;
        margin-bottom: 100px;
      }
      .text-choose {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .text-choose > h1 > span {
        color: #7f2736;
        font-size: 36px;
        font-weight: 700;
        line-height: 180%;
      }
      .text-choose > h1 {
        color: #080809;
        font-size: 36px;
        font-weight: 700;
        line-height: 180%;
      }
      .text-choose > p {
        width: 858.49px;
        height: 125.398px;
        color: #2c2d32;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 180%;
      }
      
      .choose-cards {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        margin-top: 122.72px;
      }
      .choose-cards > .choose-card {
        position: relative;
        width: 430px;
        height: 405px;
        margin-bottom: 100px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
      }
      .choose-card > h1 {
        color: #000;
        text-align: center;
        font-size: 28px;
        font-weight: 500;
        width: 340px;
        height: 42px;
        margin-top: 50px;
        margin-left: 50px;
      }
      .choose-card > p {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 180%;
        width: 325px;
        height: 136px;
        margin-top: 30px;
        margin-left: 50px;
      }
      .choose-card > img {
        margin-top: 20px;
        width: 80px;
        height: 84px;
        position: relative;
      }
      .choose-card > span {
        position: absolute;
        top: -50px;
        left: 167px;
        width: 96px;
        height: 94px;
        border-radius: 50%;
      }
  
      @media (max-width: 480px) {
        .choose-card > img {
          margin-top: 25px;
          width: 70px;
          height: 74px;
          position: relative;
        }
 
  .texts {
    width: 320px;
    height: 99px;
  }

  .text-choose > p {
    width: auto;
    font-size: 14px;
  }
  .text-choose > h1 {
    font-size: 30px;
  }


  .choose-cards > .choose-card {
    width: 301px;
  }
  .choose-card > span {
    left: 105px;
  }

  .choose-card > h1 {
    font-size: 20px;
    width: 220px;
    height: 67px;
  }
  .choose-card > p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 145%;
    width: 205px;
  }
}

/* ! media query for responsive width in 480px to 900px  */

@media (min-width: 480px) and (max-width: 912px) {
  .text-choose > p {
    width: auto;
    margin-bottom: 43px;
  }
}

   /* gallery */

    body{
      margin:20px;
      padding:0;
      text-align:center;
  }
  
  .setgal{
      background-color: #F6F6F6;
      margin-top: 100px;
      margin-bottom: 100px;
      display:grid;
      grid-template-columns: repeat(6,1fr);
      grid-auto-rows:100px 300px;
      grid-gap:10px;
      grid-auto-flow: dense;
      padding: 20px;
  }
  
  .gallery-item{
      width:100%;
      height:100%;
      position:relative;
  }
  
  .gallery-item .image{
      width:100%;
      height:100%;
      overflow:hidden;
  }
  
  .gallery-item .image img{
      width:100%;
      height:100%;
      object-fit: cover;
      object-position:50% 50%;
      cursor:pointer;
      transition:.5s ease-in-out;
  }
  .gallery-item:hover .image img{
      transform:scale(1.5);
  }
  
  
  
  .gallery-item:hover .text{
      opacity:1;
      animation: move-down .3s linear;
      padding:1em;
      width:100%;
  }
  
  .w-1{
      grid-column: span 1;
  }
  .w-2{
      grid-column: span 2;
  }
  .w-3{
      grid-column: span 3;
  }
  .w-4{
      grid-column: span 4;
  }
  .w-5{
      grid-column: span 5;
  }
  .w-6{
      grid-column: span 6;
  }
  
  .h-1{
      grid-row: span 1;
  }
  .h-2{
      grid-row: span 2;
  }
  .h-3{
      grid-row: span 3;
  }
  .h-4{
      grid-row: span 4;
  }
  .h-5{
      grid-row: span 5;
  }
  .h-6{
      grid-row: span 6;
  }
  
  
  
  
  @media screen and (max-width:500px){
      .setgal{
          grid-template-columns: repeat(1,1fr);
      }
      .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
          grid-column:span 1;
      }
  }
  
  
  @keyframes move-down{
  
      0%{
          top:10%;
      }
      50%{
          top:35%;
      }
      100%{
          top:50%;
      }
  }


    /* Newsletter */
    @import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --start-color: #0575E6;
  --end-color: #021B79;
  --p-color: #fff;
  --button-background: #0575E6;
  --input-background: transparent;
  --radius-50: 50px;
  --padding-15: 15px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--start-color);
  background: linear-gradient(to right, var(--start-color), var(--end-color)) no-repeat;
  font-family: 'Nunito', sans-serif;
}



.wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url(./static/img/laddakh.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .content {
  background: #19141447;
  padding: 40px;
  width: 100%;
  max-width: 700px;
  min-width: 200px;
  border-radius: 10px;
  text-align: center;
}

.wrapper .content header h1 {
  color: #fff;
  font-size: 230%;
  margin-top: 0;
}
.wrapper .content section {
  color: var(--p-color);
  font-size: 15px;
}
.wrapper .content footer {
  padding: var(--padding-15);
}
.wrapper .content footer input {
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.048),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.069),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.085),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.101),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.122),
  100px 100px 80px rgba(0, 0, 0, 0.17)
;
border-radius: 5px;
  border: unset;
  background-color: var(--input-background);
  padding: var(--padding-15);
  font-size: 13px;
  border-radius: var(--radius-50);
  width: 446px;
}
.wrapper .content footer button {
  background-color: var(--button-background);
  color: #fff;
  border: unset;
  width: 120px;
  border-radius: var(--radius-50);
  padding: var(--padding-15);
  margin-left: 10px;
  cursor: pointer;
}



.wrapper .content footer input:focus, .wrapper .content footer button:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .nav h4{
    font-size: 16px;
  }
  .wrapper .content footer button {
    height: 48px;
    background-color: var(--button-background);
    color: #fff;
    border: unset;
    width: 120px;
    border-radius: var(--radius-50);
    padding: var(--padding-15);
    margin-left: 10px;
    cursor: pointer;
  }
  .wrapper .content footer {
    padding: var(--padding-15);
    display: flex;
  }
  .wrapper .content {
    margin-right: 20px !important;
    margin-left: 20px !important;
    padding: var(--padding-15);
  }
  .wrapper .content footer input {
    width: 200px;
    margin-bottom: 10px;
  }
}


    /* Footer */

    .footer-settings{
      width: 100%;
      bottom: 0;
      background: linear-gradient(to right, #2c3e50, #3498db );
      color: white;
      padding: 100px 0 30px;
      border-top-left-radius: 125px ;
      font-size: 13px;
      line-height: 20px;
    }
   
    .set-footer{
      width: 85%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  
    .set-fot{
      flex-basis: 25%;
      padding: 10px;
    }
    .set-fot:nth-child(2), .set-fot:nth-child(3){
      flex-basis: 15%;
    }
    .logof{
      width: 80px;
      margin-bottom: 30px;
    }
    .set-fot h3{
      width: fit-content;
      margin-bottom: 40px;
      position: relative;
    }
    .email-id{
      width: fit-content;
      border-bottom: 1px solid #fff;
      margin: 20px 0;
    }
  
    ul li{
      list-style: none;
      margin-bottom: 12px;
    }
    ul li a{
      text-decoration: none;
      color: #fff;
    }
  
    ul li a:hover{
      text-decoration: none;
      color: black;
    }
  
    form{
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px;
    }
    form .ri-mail-open-line{
      font-size: 18px;
      margin-right: 10px;
    }
    form input{
      width: 100%;
      background: transparent;
      color: white !important;
      border: 0;
      outline: none;
    }
  
    form input::placeholder{
      color: white;
    }
  
    form button{
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
    }
    form button .ri-arrow-right-line{
      font-size: 16px;
      color: #ccc;
    }
    .social-icons   .ri-facebook-line, .ri-instagram-line, .ri-whatsapp-line, .ri-twitter-x-line{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: white;
      margin-right: 15px;
      cursor: pointer;
    }

    


  
    